.edit {
  text-align: center;
}
h3 {
  margin: 1rem;
}
.edit form {
  display: flex;
  flex-direction: column;
}
.edit form .form-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem auto;
  width: 50%;
}
.edit form .form-group label {
  flex: 3;
  align-self: flex-start;
  font-size: 1.2rem;
}
input,
select {
  height: 1.7rem;
  font-size: 1.3rem;
  text-align: center;
}
.edit .actionBtn {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem auto;
  width: 30%;
}
.edit .actionBtn button {
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  color: #fff;
  border: none;
}
.edit .actionBtn button:nth-child(1) {
  background-color: rgb(87, 0, 128);
}
.edit .actionBtn button:nth-child(2) {
  background-color: rgb(29, 104, 216);
}
