.header {
  width: 100vw;
  height: 70px;
  background-color: #c98888;
  display: flex;
  align-content: center;
  padding: 5px;
  color: #fff;
  .logo {
    flex: 4;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .links {
    flex: 8;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    .link {
      a {
        font-size: 1.3rem;
        text-decoration: none;
        margin-right: 0.5rem;
        font-weight: 700;
        color: #fff;

        &.active {
          color: teal;
          text-decoration: underline;
        }
      }
    }
  }
}
